/* .main-bg {
    background: url(/inspectionpoint/javax.faces.resource/images/mainbg.jpg.xhtml) center top/cover no-repeat !important;
    width: 67%;
    z-index: 1;
}
.login-div {
    position: relative !important;
    top: 300px !important;
        float: right !important;
        margin-right: -33% !important;
}
body {
    
    overflow: hidden !important;
       background-color: #48a280;
}
  */
  
  .main-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    background: url(/) center top/cover no-repeat; 
    background-size: 100% 100%;
     background: linear-gradient(to right, rgb(0, 96, 72) 0px, rgb(0, 149, 94) 50%, rgb(0, 96, 72) 100%) !important;
}